version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    env_file:
      - ../.env.prod
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    volumes:
      - /tmp:/tmp

  ollama:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data:
